<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- Link to CSS -->
</head>
<body class="exercise_tracker">
    <header>
        <h1>Exercise Tracker</h1>
        <a href="/lifestyle/add_workout">
        <div class="button_container">
            <a href="/"><button>Back to Home</button></a>
            <a href="/lifestyle/add_workout"><button>Add new exercise</button></a>
        </div>
        </a>
    </header>

    <main>
        {% if exercises and exercises|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Workout</th>
                        <th>Duration (minutes)</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                        <tr>
                            <td>{{ exercise['date'] }}</td>
                            <td>{{ exercise['workout'] }}</td>
                            <td>{{ exercise['duration'] }}</td>
                            <td>{{ exercise['notes'] }}</td>
                            <td>
                                <a href="/lifestyle/edit_workout/{{ exercise['id'] }}">
                                    <button>Edit</button>
                                </a>
                                <form method="POST" action="/lifestyle/delete_exercise/{{ exercise['id'] }}" style="display:inline;">
                                    <button type="submit" style="display: inline;">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            
        {% endif %}
    </main>
</body>
</html>